.logo {
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;
}

.main-container {
    padding: 1rem;
}

#motto {
    padding-top: 2rem;
}

#description {
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5rem;
}

h4 {
    font-weight: 400;
    color: gray;
    font-size: 1.2rem;
}

.hero-camp-mobile-container img {
    width: 100%;
    height: 100%;
}

.actions-list {
    padding-bottom: 1.4rem;
}

.actions {
    list-style: none;
    background-image: url(../../Assets/Checkmark.svg);
    background-repeat: no-repeat;
    background-position: 0, 2px;
    padding-left: 2rem;
    line-height: 2.5rem;
}

.view-campgrounds {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .05rem;
    background-color: black;
    color: white;
    padding: 1.3rem;
    border-radius: 5px;
}

.view-campgrounds:active{
    background-color: white;
    color: black;
}

.partners {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.partners h4 {
    color: rgb(95, 95, 95);
    padding-bottom: .7rem;
}

.partners ul {
    display: flex;
}

.partners li {
    list-style: none;
}

.hero-camp-desktop-container {
    display: none;
}

@media (min-width: 820px) {
    #motto {
        font-size: 4rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    #description {
        line-height: 2rem;
    }

    .actions {
        line-height: 3rem;
    }

    .view-campgrounds {
        font-size: 1.5rem;
    }

    .partners li:nth-child(n + 2) {
        padding-left: 3rem;
    }

}

@media (min-width: 1302px) {

    .landing-container {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .left {
        padding-left: 10rem;
        padding-top: 1rem;
    }

    .main-container {
        width: 90%;
    }
    #motto {
        padding-top: 5rem;
    }

    #description {
        margin-right: 4rem;
    }

    .hero-camp-mobile-container {
        display: none;
    }

    .hero-camp-desktop-container {
        display: block;
    }

    .hero-camp-desktop-container img {
        width: 100%;
        height: 100vh;
        
    }
}
